.test
    // color:blue
    // font-size:10px
    position: relative;
    left: 35%;
    width: 50%;
    background: #aaa;
    font-size: 20px;
    // opacity: 0.5;

.content
    background: #272822
    color: #fff
    font-size: 1 rem
    overflow: hidden
    opacity: 0.9
  
    code
        font-size: 1.1 rem
        word-wrap:break-word //自动换行
        word-break:break-all

.left
    color: black
    font-size: 0.8 rem
    margin:0
    padding:0
    word-wrap:break-word //自动换行
    word-break:break-all
    opacity: 0.5
    background-color: rgba(170,170,170,0.5)
    font-size: 0.9rem
    position: fixed
    left:15%
    top:60px
    bottom:0
    width: 20%
    
.time 
.category
    margin: 0 auto
    background: #aaa
    font-size: 1.2 rem
    width: 80%
    ul
        list-style: none


.header {
    // background-color: #41B883;
    background-color: #aaa;
    opacity: 0.9
    color:blue
    position: fixed;
    z-index: 999;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8
}
.header .inner {
     max-width: 800px; 
     /*box-sizing: border-box; */
     margin: 0 auto; 
     padding: 15px 5px; 
}
.header a {
    text-decoration: none 
    line-height: 24px;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;
    margin-right: 1.8em;
}
 /*顶部导航条右边部分 */   
.header .github {
    
    font-size: .9em;
    margin: 0;
    float: right;
} 