.test
    color:blue
    font-size:10px


.left
    background-color: #fff
    font-size: 0.9rem
    position: fixed
    left:0
    top:50px
    bottom:0
    width: 20%
    


.header {
    background-color: #41B883;
    position: fixed;
    z-index: 999;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}
.header .inner {
     max-width: 800px; 
     /*box-sizing: border-box; */
     margin: 0 auto; 
     padding: 15px 5px; 
}
.header a {
    color: hsla(0,0%,100%,.8);
    line-height: 24px;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;
    margin-right: 1.8em;
}
 /*顶部导航条右边部分 */   
.header .github {
    color: #fff;
    font-size: .9em;
    margin: 0;
    float: right;
} 